@import "tailwindcss";


h1 {
  font-family: 'Arial', sans-serif;
  font-size: 36px;  
  font-weight: 700;
  color: #333;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 30px;  
  font-weight: 700;
  color: #333;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px; 
  font-weight: 600;
  color: #333;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-size: 20px;  
  font-weight: 600;
  color: #333;
}

h5 {
  font-family: 'Arial', sans-serif;
  font-size: 18px;  
  font-weight: 500;
  color: #333;
}

h6 {
  font-family: 'Arial', sans-serif;
  font-size: 16px; 
  font-weight: 500;
  color: #333;
}
